* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.container {
    /* margin: 10px auto; */
    width: 100%;
    height: 500px;
    background: rgb(14,147,168);
    background: linear-gradient(-180deg, rgba(14,147,168,0.9476832969515931) 1%, rgba(8,56,66,1) 60%);
}

.center {
    padding: 150px 0;
}

p {
    text-align: center;
    color: white;
    font-size: 56px; 
    padding: 25px 0;
}


.container2 {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    color: #0e93a8;
    font-size: 36px;

}

.section1 {
    margin-top: 10px;
    font-weight: bold;
}

.words {
    color: black;
    text-align: justify;
    font-size: 24px; 


}

.section2 {
    text-align: right;
    font-weight: bold;
}
